# MySQL Host and authentication
MYSQLHOST='localhost';
MYSQLUSER='backups';
MYSQLPASS='goodpassword';

# SVN Host and Authentication
SVNUSER='backups';
SVNPASS='foobar';
SVNURI='https://svn.example.org/backups/';

# Storage (can be relative or absolute path) - defaults are shown
#LOGFILE='mysql-svn.log';
#DUMPDIR='dump/';

# MySQL Executables - defaults are shown
#MYSQL='/usr/bin/mysql';
#MYSQLDUMP='/usr/bin/mysqldump';

# SVN Executable - default is shown
#SVN='/usr/bin/svn';